.title {
  padding-left: 30%;
  font-size: 300%;
  padding-bottom: 1%;
}

.about {
  padding-left: 30%;
  padding-right: 20%;
  font-size: 150%;
}

@media (max-width: 850px) {
  .title {
    padding: 0;
    text-align: center;
  }
  .about {
    text-align: center;
    padding: 0%;
    margin-inline-start: 17.5px;
    margin-inline-end: 0px;
  }
}
