.title {
  margin-left: 30%;
  font-size: 300%;
  margin-top: 6vw;
  padding-bottom: 1.5%;
}

.faq {
  margin-left: 30%;
  margin-top: 1%;
  font-size: 150%;
}

/* Style the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  margin-right: 28%;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
  margin-bottom: 10px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.active {
  background-color: #ccc;
}

/* Style the accordion content title */
.accordion__title {
  font-weight: 600;
  font-size: 150%;
}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
}

/* Style the accordion content text */
.accordion__text {
  font-weight: 400;
  font-size: 130%;
  padding: 18px;
}

@media (max-width: 850px) {
  .title {
    padding: 0%;
    margin-left: 0;
    text-align: center;
  }
  .faq {
    padding: 0%;
    text-align: center;
  }
}
